[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
markdown = "*"
gunicorn = "*"
faker = "*"
django-pure-pagination = "*"
djangorestframework = "*"
django-filter = "*"
django-redis-cache = "*"
drf-extensions = "*"

[dev-packages]
fabric = "*"

[requires]
python_version = "3.7"
